myenv
Authentication_Service/auth_service/__pycache__
mails/node_modules
mails/config.env
cloudinary/node_modules
user_util/node_modules
cloudinary/config.env
user_util/config.env
chat_system/node_modules
chat_system/data