myenv
Authentication_Service/auth_service/__pycache__
mails/node_modules
cloudinarySystem/node_modules
userUtilSystem/node_modules
chatSystem/node_modules
chatSystem/data
ttsSystem/node_modules
elasticSystem/node_modules
contentResponseSystem/node_modules
notifSystem/node_modules